@model pos.Models.Item
@{
    ViewData["Title"] = "Edit Item";
}

<!-- Modal -->
<div class="modal fade" id="modal_edit_item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit new item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="item_id" required>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="item">Item Name</label>
                        <input type="text" class="form-control" id="Name_edit" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">Rp</span>
                            <input type="number" id="Price_edit" class="form-control" aria-label="Price" aria-describedby="basic-addon1" placeholder="Enter price" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId">Category</label>
                        <select asp-for="CategoryId" asp-items="ViewBag.Categories" id="CategoryId_edit" class="form-control" required>
                            <option value=""> -- Select Category -- </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="UnitId">Unit</label>
                        <select asp-for="UnitId" asp-items="ViewBag.units" id="UnitId_edit" class="form-control" required>
                            <option value=""> -- Select Unit -- </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="Update" class="btn btn-gradient-primary me-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>