@model pos.Models.FinancialHistory
@{
    ViewData["Title"] = "Add Expense";
}

<!-- Modal -->
<div class="modal fade" id="modal_add_expense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ExpiredDate">Transaction Date</label>
                        <input type="date" class="form-control" id="TransactionDate" required>
                    </div>
                    <div class="form-group">
                        <label for="Total Purchase">Amount</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Rp.</span>
                            <input type="number" class="form-control" id="Amount" aria-label="Amount" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" id="Description" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="Store" class="btn btn-gradient-primary me-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>