@model pos.Models.Unit
@{
    ViewData["Title"] = "Add New Unit";
}

<!-- Modal -->
<div class="modal fade" id="modal_add_unit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new unit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="unit">Unit Name</label>
                        <input type="text" class="form-control" id="Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="Store" class="btn btn-gradient-primary me-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>